* {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    /* background-color: rgba(0, 0, 0, 0.379); */
    margin-bottom: 10rem;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/background.jpg");
}

h1 {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 4rem;
}

a{
    text-decoration: none;
}

.titles {
    margin: 0rem 35rem;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.btn{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}

.btn-primary {
    background-color: #E50914;
}

.btn-primary:hover{
    background-color: #b20710;
}

.btn-secondary {
    background-color: black;
}

input{
    font-size: large;
    margin: 1rem;
    padding: 0.8rem;
    background-color: rgba(48, 64, 77, 0.49);
    border: 1px solid #767676;
    border-radius: 5px;
}

input::placeholder {
    /* font-size: large; */
    color: #ffffff;
    opacity: 1;
}