* {
    margin: 0;
    padding: 0;
    color: white;
}

header {
    margin-bottom: 5rem;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../image/background.jpg");
}

.mr-1{
    margin-right: 1rem;
}

h1 {
    margin-bottom: 2rem;
    font-size: 5rem;
    font-weight: bold;
}

h2 {
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 4rem;
}

a{
    text-decoration: none;
}

.text-center {
    text-align: center;
}

.align-center {
    align-items: center;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.space-around {
    justify-content: space-around;
}

.btn{
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    font-size: large;
}

.btn-primary {
    background-color: #E50914;
}

.btn-primary:hover{
    background-color: #b20710;
}

.btn-secondary {
    background-color: black;
}

input{
    font-size: large;
    margin: 1rem 0rem;
    padding: 0.8rem;
    background-color: rgba(48, 64, 77, 0.49);
    border: 1px solid #767676;
    border-radius: 5px;
}

input::placeholder {
    color: #ffffff;
    opacity: 1;
}

.titles {
    margin: 0rem 35rem;
}

/* Sign-up */

.signupForm{
    margin: 5rem auto;
    max-width: 35rem;
    padding: 3rem 5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.signupForm h2{
    font-size: xx-large;
    margin-bottom: 5rem;
}

.signupForm button{
    margin: 2rem 0rem;
}

/* Sign-in */

.signinForm{
    margin: 5rem auto;
    max-width: 35rem;
    padding: 3rem 0rem;
    background-color: black;
    display: flex;
    justify-content: center;
    border-radius: 15px;
}

.signinForm h2{
    font-size: xx-large;
    margin-bottom: 3rem;
}

.signinForm button{
    margin: 2rem 0rem 1rem 0rem;
}